# OvoScan - Environment Variables Template

# App
APP_NAME=ovoscan
APP_VERSION=2.1.0
APP_ENV=development
APP_LOG_LEVEL=INFO
APP_LOG_FILE=logs/ovoscan.log
APP_LOG_COLORS=true

# API
API_HOST=0.0.0.0
API_PORT=8001

# Model
MODEL_PATH=serving/model.pt
FALLBACK_MODEL=yolov8n-cls.pt

# Knowledge Base (RAG)
KNOWLEDGE_BASE_PATH=data/knowledge_base/manual.txt

# Ollama / Llama 3
OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=llama3

# DVC
DVC_REMOTE=minio

# Monitoring
PROMETHEUS_PORT=9090